<h1> Listing of Cats </h1>

<table>
   <% @cats.each do |cat| %>
    <tr>
      <td> <%= cat.name %> </td>
      <td> <%= cat.sex %> </td>
      <td> <%= cat.age %> </td>
      <td> <%= cat.color %> </td>
      <!-- <td> <%= cat.description %> </td> -->
    </tr>
    <% end %>
</table>
<br>
<%= link_to "Create a new cat!", new_cat_url %>
