<h1> You are currently viewing <%= @cat.name %>'s Profile </h1>

<table>
    <tr>
      <td> <%= @cat.name %> </td>
      <td> <%= @cat.sex %> </td>
      <td> <%= @cat.age %> </td>
      <td> <%= @cat.color %> </td>
    </tr>
</table>
